{% extends 'base.html' %}
{% load static %}

{% block header %}
    {% include 'components/header/header.html' %}
{% endblock %}

{% block content %}
        <section class="services-sect">
            <div class="container">
                <h2 class="title2">Услуги и цены</h2>

                <div class="services-items">
                    <div class="services-items__img"><img src='{% static "img/spider4.jpg" %}' alt=""></div>

                    <!-- facebook -->
                    <div class="service service-facebook" data-targ="fb">
                        <div class="service__name"><img src='{% static "img/facebook.png" %}' alt=""></div>
                        <ul class="service__list">
                            {% for service in fb.services.all %}
                                <li data-targ="fb" id="{{ service.pk }}">{{ service.name }}</li>
                            {% endfor %}
                        </ul>
                    </div>

                    <!-- youtube -->
                    <div class="service service-youtube" data-targ="youtube">
                        <div class="service__name"><img src='{% static "img/youtube.png" %}' alt=""></div>
                        <ul class="service__list">
                            {% for service in yt.services.all %}
                                <li data-targ="yt" id="{{ service.pk }}">{{ service.name }}</li>
                            {% endfor %}
                        </ul>
                    </div>

                    <!-- instagram -->
                    <div class="service service-instagram" data-targ="instagram">
                        <div class="service__name"><img src='{% static "img/instagram.png" %}' alt=""></div>
                        <ul class="service__list">
                            {% for service in ig.services.all %}
                                <li data-targ="ig" id="{{ service.pk }}">{{ service.name }}</li>
                            {% endfor %}
                        </ul>
                    </div>

                    <!-- telegram -->
                    <div class="service service-telegram" data-targ="telegram">
                        <div class="service__name"><img src='{% static "img/telegram.png" %}' alt=""></div>
                        <ul class="service__list">
                            {% for service in tg.services.all %}
                                <li data-targ="tg" id="{{ service.pk }}">{{ service.name }}</li>
                            {% endfor %}
                        </ul>
                    </div>

                    <!-- tiktok -->
                    <div class="service service-tiktok" data-targ="tiktok">
                        <div class="service__name"><img src='{% static "img/tiktok.png" %}' alt=""></div>
                        <ul class="service__list">
                            {% for service in tt.services.all %}
                                <li data-targ="tt" id="{{ service.pk }}">{{ service.name }}</li>
                            {% endfor %}
                        </ul>
                    </div>

                    <!-- twitter -->
                    <div class="service service-instagram" data-targ="twitch">
                        <div class="service__name"><img src='{% static "img/twitter.png" %}' alt=""></div>
                        <ul class="service__list">
                            {% for service in tw.services.all %}
                                <li data-targ="tw" id="{{ service.pk }}">{{ service.name }}</li>
                            {% endfor %}

                        </ul>
                    </div>

                    <!-- vk -->
                    <div class="service service-vk" data-targ="vk">
                        <div class="service__name"><img src='{% static "img/vk.png" %}' alt=""></div>
                        <ul class="service__list">
                            {% for service in vk.services.all %}
                                <li data-targ="vk" id="{{ service.pk }}">{{ service.name }}</li>
                            {% endfor %}
                        </ul>
                    </div>

                    <!-- ok -->
                    <div class="service service-ok" data-targ="ok">
                        <div class="service__name"><img src='{% static "img/ok.png" %}' alt=""></div>
                        <ul class="service__list">
                            {% for service in ok.services.all %}
                                <li data-targ="ok" id="{{ service.pk }}">{{ service.name }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        {% include 'components/modal/modal.html' %}

{% endblock %}