{% load static %}

<div class="wrap-modal" data-name="instagram">
    <div class="modal">
        <button class="modal__close">
            <img src='{% static "img/close.png" %}' alt="">
        </button>
        <div class="modal__title">
            <span> Раскрутка Instagram</span>
            <img src='{% static "img/instagram2.png" %}' alt="">
        </div>
        

        <div class="modal__body">
            <div class="serv-list">
                <input type="radio" name="serv" id="input-serv-inst-1">
                <label for="input-serv-inst-1" class="serv">подписчики обычные</label>
                <input type="radio" name="serv" id="input-serv-inst-2">
                <label for="input-serv-inst-2" class="serv">подписчики живые</label>
                <input type="radio" name="serv" id="input-serv-inst-3">
                <label for="input-serv-inst-3" class="serv">лайки обычные</label>
                <input type="radio" name="serv" id="input-serv-inst-4">
                <label for="input-serv-inst-4" class="serv">лайки живые </label>
                <input type="radio" name="serv" id="input-serv-inst-5">
                <label for="input-serv-inst-5" class="serv"> автолайки </label>
                <input type="radio" name="serv" id="input-serv-inst-6">
                <label for="input-serv-inst-6" class="serv"> просмотры видео ig tv</label>
                <input type="radio" name="serv" id="input-serv-inst-7">
                <label for="input-serv-inst-7" class="serv">просмотры историй (story)</label>
                <input type="radio" name="serv" id="input-serv-inst-8">
                <label for="input-serv-inst-8" class="serv">сохранение</label>
            </div>

            <div class="mess">
                <div class="mess__icon"><img src='{% static "img/icon.png" %}' alt="">

                </div>
                <div class="mess__txt">Чем больший объем, тем больше скидка. Покупай много и с выгодой. А купленный объем распределяй
                    в личном кабинете на неограниченное количество заказов.</div>
            </div>

            <div class="serv-box-items">
                
            </div>

            <div class="advant-list">
                
            </div>

        </div>

    </div>
</div>
