{% load static %}


<div class="wrap-modal" data-name="tiktok">
    <div class="modal">
        <button class="modal__close">
            <img src='{% static "img/close.png" %}' alt="">
        </button>
        <div class="modal__title">
            <span> Раскрутка Tiktok</span>
            <img src="img/tiktok2.png" alt="">
        </div>
  

        <div class="modal__body">
            <div class="serv-list">
                <input type="radio" name="serv" id="input-serv-tiktok-2">
                <label for="input-serv-tiktok-2" class="serv">подписчики живые</label>
                <input type="radio" name="serv" id="input-serv-tiktok-4">
                <label for="input-serv-tiktok-4" class="serv">лайки живые </label>
                <input type="radio" name="serv" id="input-serv-tiktok-6">
                <label for="input-serv-tiktok-6" class="serv"> просмотры видео</label>
            </div>

            <div class="mess">
                <div class="mess__icon"><img src='{% static "img/icon.png" %}' alt="">

                </div>
                <div class="mess__txt">Чем больший объем, тем больше скидка. Покупай много и с выгодой. А купленный объем распределяй
                    в личном кабинете на неограниченное количество заказов.</div>
            </div>

            <div class="serv-box-items">
                
            </div>

            <div class="advant-list">
                
            </div>

        </div>

    </div>
</div>
