{% load static %}

<div class="wrap-modal" data-name="twitch">
    <div class="modal">
        <button class="modal__close">
            <img src='{% static "img/close.png" %}' alt="">
        </button>
        <div class="modal__title">
            <span> Раскрутка Twitch</span>
            <img src='{% static "img/twitch2.png" %}' alt="">
        </div>
    

        <div class="modal__body">
            <div class="serv-list">
                <input type="radio" name="serv" id="input-serv-twitch-1">
                <label for="input-serv-twitch-1" class="serv">подписчики обычные</label>
                <input type="radio" name="serv" id="input-serv-twitch-2">
                <label for="input-serv-twitch-2" class="serv">Ретвит твита ( поста )</label>
            </div>

            <div class="mess">
                <div class="mess__icon"><img src='{% static "img/icon.png" %}' alt="">

                </div>
                <div class="mess__txt">Чем больший объем, тем больше скидка. Покупай много и с выгодой. А купленный объем распределяй
                    в личном кабинете на неограниченное количество заказов.</div>
            </div>

            <div class="serv-box-items">
                
            </div>

            <div class="advant-list">
                
            </div>

        </div>

    </div>
</div>
