{% load static %}

<div class="wrap-modal" data-name="yt">
    <div class="modal">
        <button class="modal__close">
            <img src='{% static "img/close.png" %}' alt="">
        </button>
        <div class="modal__title">
            <span> Раскрутка Youtube</span>
            <img src='{% static "img/youtube2.png" %}' alt="">
        </div>
        

        <div class="modal__body">
            <div class="serv-list">
                {% for service in yt.services.all %}
                    <input type="radio" class="serv" id="{{ service.pk }}" name="serv" >
                    <label for="{{ service.pk }}" data-name="yt" id="{{ service.pk }}" name="serv" class="serv">{{ service.name }}</label>
                {% endfor %}
            </div>

            <div class="mess">
                <div class="mess__icon"><img src='{% static "img/icon.png" %}' alt="">

                </div>
                <div class="mess__txt">Чем больший объем, тем больше скидка. Покупай много и с выгодой. А купленный объем распределяй
                в личном кабинете на неограниченное количество заказов.</div>
            </div>

            <div class="serv-box-items">
            </div>

            <div class="advant-list">

            </div>

        </div>

    </div>
</div>
