{% extends 'app/base.html' %}
{% load static %}
    {% block title %}
 <title>Регестрация</title>
    {% endblock %}
{%block content%}
        <div class="registration-body">

            <h2 class="title2">Регистрация</h2>

            <div class="forma-wrap">

                <div class="forma" style="margin-top: -15px">
                    <form METHOD="post" action="">
                        {% csrf_token %}
                        {% for field in form %}
                        <div class="forma__wrapp">
                            <div class="input-bl">
                                <p class="input-bl__title">{{ field.label_tag }}</p>
                                <div class="input-bl__field">
                                    {{ field }}
                                    <img src="img/user.png" alt="">
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <p id="divCheckPasswordMatch"></p>
                        <div class="forma__foot">
                            <button name="register" type="submit" value="Register" class="btn6 forma__btn" disabled="true">Зарегистрироваться</button>
                        </div>
                    </form>
                </div>
                <div class="enter">
                    <p class="enter__title">Войти через</p>
                    <div class="enter__list">
                        <a href="/soc/login/vk-oauth2" class="enter__item"><img src='{% static "img/vk3.png" %}' alt=""></a>

                        <a href='/{% url "social:begin" "facebook" %}'  class="enter__item"><img src='{% static "img/facebook2.png" %}' alt=""></a>

                        <a href="" class="enter__item"><img src='{% static "img/yandex.png" %}' alt=""></a>

                        <a href='{% url "social:begin" "google" %}' class="enter__item"><img src='{% static "img/google.png" %}' alt=""></a>
                    </div>
                </div>
            </div>
        </div>

{%endblock%}