{% extends 'base2.html' %}
{% load static %}
    {% block title %}
 <title>Баланс</title>
    {% endblock %}
{% block content %}
        <div class="balance-sect">
            <div class="container">
                <h1 class="caption2">Пополнение баланса</h1>
                <form method='POST' action="">
                    <div class="input-bl2" id='oness'>
                        <p class="input-bl2__title">Введите сумму пополнения</p>
                        <div class="input-bl2__cont">
                            {% csrf_token %}
                            <div class="input-bl2__inp">
                                {{ form.balance }}
                            </div>

                            <div class="input-bl2__img">
                                <img src={% static "img/yandexkassa.png"%} width="161" height="52" alt="">
                            </div>
                        </div>
                        <button class="balance-replen btn9">
                            Пополнить
                        </button>
                    </div>
                    <div id="liqpay_checkout"></div>
                    <p class="balance-info">
                        При пополнении от <strong>999</strong> рублей вы будите получать бонус плюс <strong>5%</strong> к балансу
                    </p>
                </form>
            </div>
        </div>
{% endblock %}