{% extends 'base.html' %}
{% load static %}


{% block content %}
        <div class="registration-body">

            <h2 class="title2">Забыли пароль</h2>

            <div class="forma-wrap">

                <div class="forma" style="margin-top: -15px">
{% if error %}
        <div style="color:red; margin-left: 35%;">{{ error }}</div>
    {% endif %}
                    <form action="" method='POST'>
                        <div class="forma__wrapp">
                            <div class="input-bl">
                                <p class="input-bl__title">
                                    {{ form.email.label }}
                                </p>
                                <div class="input-bl__field">
                                    {% csrf_token %}
                                    {{ form.email}}
                                    <img src='{% static "img/mail.png" %}' alt="">
                                </div>
                            </div>

                            <div class="forma__foot">
                                <button class="btn6 forma__btn" onclick="myFunction()">Восстановить пароль</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
<script>

function myFunction() {
  alert('На вашу почту пришло сообщение для смены пароля')
}
</script>
{% endblock %}