{% extends 'base2.html' %}
{% load static %}
{% block content %}
<div class="csrf_token">
    {% csrf_token %}
</div>

         <div class="order-sect">
            <div class="container">
                <h1 class="caption2">Создать новый заказ</h1>

                <div class="new-order">
                    <div class="new-order__col1">
                        <div class="new-order__block">
                            <div class="new-order__row">
                                <div class="bl">
                                    <div class="bl__main">
                                        <div class="bl__icon"><img src="img/icon3.png" alt=""></div>
                                        <div class="bl__col">
                                            <p сlass="bl__capt">Выберите социальную сеть</p>
                                            <select id="socialnet" class="select">
                                              <option selected></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="new-order__row new-order__row_group">
                                <div class="bl">
                                    <div class="bl__main">
                                        <div class="bl__icon"><img src="img/icon3.png" alt=""></div>
                                        <div class="bl__col">
                                            <p class="bl__capt">Выберите накрутку</p>
                                            <select id="cheat" class="select">
                                              <option selected></option>
                                            </select>
                                        </div>
                                        <div class="bl__col2"></div>
                                    </div>
                                </div>

                                <div class="bl bl_1">
                                    <div class="bl__main">
                                        <div class="bl__icon"><img src="img/icon3.png" alt=""></div>
                                        <div class="bl__col">
                                            <p class="bl__capt">Количество</p>
                                            <input type="number" min="100" class="bl__val" value="100" id="qty">
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="new-order__row">
                                <div class="bl bl_2">
                                    <div class="bl__main">
                                        <div class="bl__icon"><img src="img/icon4.png" alt=""></div>
                                        <div class="bl__col">
                                            <p class="bl__capt">Ссылка на публикацию</p>
                                            <input type="text" id="url" class="bl__val">
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="new-order__col2">
                        <div class="order-bl">
                            <div class="order-bl__name">Заказ:</div>
                            <div class="order-bl__orderval">&nbsp</div>
                        </div>

                        <div class="order-bl">
                            <div class="order-bl__name">Итого:</div>
                            <div class="order-bl__priceval">Спишется 0 руб</div>
                        </div>
                        <button type="button" class="create-order">Добавить в корзину</button>
                        <div class="order-info">Созданное задание нельзя остановить или отменить,
                            но вы можете обратиться в <a href="">службу поддержки</a> если
                            у вас возникнут вопросы или пожелания.</div>


                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="container">
                <p class="footer__copy">© 2019-2020 Все права защищены </p>

                <div class="footer__logo"><img src="img/logo2.png" alt=""></div>
                <div class="footer__add">Bruce premium office БЦ г. Москва</div>
            </div>
        </footer>
    </div>
    <p id='fapzh' style='display: none;'>{{fapzh}}</p>
    <p id='yopzh' style='display: none;'>{{yopzh}}</p>
    <p id='yolzh' style='display: none;'>{{yolzh}}</p>
    <p id='yoprzh' style='display: none;'>{{yoprzh}}</p>
    <p id='yodz' style='display: none;'>{{yodz}}</p>
    <p id='inspob' style='display: none;'>{{inspob}}</p>
    <p id='inspzh' style='display: none;'>{{inspzh}}</p>
    <p id='inslob' style='display: none;'>{{inslob}}</p>
    <p id='inslzh' style='display: none;'>{{inslzh}}</p>
    <p id='insaul' style='display: none;'>{{insaul}}</p>
    <p id='insprvi' style='display: none;'>{{insprvi}}</p>
    <p id='inspris' style='display: none;'>{{inspris}}</p>
    <p id='inssohr' style='display: none;'>{{inssohr}}</p>
    <p id='tepnk' style='display: none;'>{{tepnk}}</p>
    <p id='tepvgich' style='display: none;'>{{tepvgich}}</p>
    <p id='tepr' style='display: none;'>{{tepr}}</p>
    <p id='twpnk' style='display: none;'>{{twpnk}}</p>
    <p id='twprk' style='display: none;'>{{twprk}}</p>
    <p id='tipzh' style='display: none;'>{{tipzh}}</p>
    <p id='tilzh' style='display: none;'>{{tilzh}}</p>
    <p id='tiprvi' style='display: none;'>{{tiprvi}}</p>
    <p id='vkpob' style='display: none;'>{{vkpob}}</p>
    <p id='vkpzh' style='display: none;'>{{vkpzh}}</p>
    <p id='vkdrvpr' style='display: none;'>{{vkdrvpr}}</p>
    <p id='vklzh' style='display: none;'>{{vklzh}}</p>
    <p id='vkprzh' style='display: none;'>{{vkprzh}}</p>
    <p id='vkre' style='display: none;'>{{vkre}}</p>
    <p id='vkop' style='display: none;'>{{vkop}}</p>
    <p id='vkprvi' style='display: none;'>{{vkprvi}}</p>
    <p id='odpzh' style='display: none;'>{{odpzh}}</p>

{% endblock %}